body {
	background: url(sj.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

}


#footer{
	font:normal 12px Tahoma,Verdana;
	display:block;
	height:150px;
	color:#ffffff;
}
#footer #link{
	margin:0 30px 0 30px;
	border-bottom:silver 1px solid;
}
#footer #link2{
	margin:0 30px 0 30px;
}
#footer #link2 table tr td{
	font:normal 12px Tahoma,Verdana;
}
#footer #link a, #footer #link2 a{
	line-height:30px;
	margin-right:10px;
}
#footer #copy{
	margin:0 30px 0 30px;
}